body, button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    margin: 0 10px 0 10px;
    font-size: 35px;
    text-decoration: underline;
}

h2 {
    margin: 0 10px 0 10px;
    font-size: 25px;
}

a {
    color: #0000BB;
}

a:hover {
    color: #000000;
}

button {
    font-size: 20px;
}

.volume-control {
    width: 100%;
    margin: auto;
}

.title {
    padding: 0 0 20px 0;
    margin: auto;
    width: 90%;
}

.controls {
    padding: 50px 0 0 0;
    margin: 0 auto;
    width: 90%;
}

.content {
    padding: 50px 0 0 0;
    margin: 0 auto;
    width: 90%;
}

.footer {
    padding: 50px 0 0 0;
    margin: 0 auto;
    width: 90%;
}

.grid {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.frequency-container {
    margin: 1px;
    border: 2px solid black;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(14px + 1vw);
}

.frequency-container:nth-child(1n+0) {
    background: #7E8D85;
}

.frequency-container:nth-child(2n+0) {
    background: #41658A;
}

.frequency-container:nth-child(3n+0) {
    background: #0083BB;
}

.frequency-container:nth-child(4n+0) {
    background: #BDBDBE;
}

.frequency-container:nth-child(5n+0) {
    background: #525184;
}

.frequency-container:nth-child(6n+0) {
    background: #29BF89;
}

.frequency-container:nth-child(7n+0) {
    background: #5D4A79;
}

.frequency-container:nth-child(8n+0) {
    background: #845A6D;
}

.frequency-container:nth-child(9n+0) {
    background: #6E75A8;
}

.frequency-container:nth-child(10n+0) {
    background: #B0DAF1;
}
