*
{
	font-family: 'Montserrat', sans-serif;
}

body
{
	margin: auto;
	max-width: 1050px;
	font-size: large;
}

table.geq
{
	border: 1px solid black;
	margin: 30px 10px 10px 190px;
	padding: 10px;
	box-shadow: 0px 2px 4px 0px #666666;
	text-align: center;
}

tr.geq
{
	border: 1px solid black;
}

td.geq
{
	border: 0px;
	padding: 1px;
	margin: 0px;
}

.volume-slider
{
	width: 100%;
}

h1
{
	margin: 0px 0px 10px 0px;
	font-size: xx-large;
	text-decoration: underline;
}


h2
{
	margin: 10px 0px;
	font-size: x-large;
	text-decoration: underline;
}

h3
{
	border: 0px;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	text-decoration: underline;
}

h4
{
	margin: 10px 0px;
	text-decoration: underline;
}

a
{
	color: #0000BB;
}

a:hover
{
	color: #000000;
}

input[type="text"], input[type="password"], textarea
{
	max-width: 90%;
}

.content
{
	border: 1px solid black;
	margin: 30px 10px 10px 190px;
	padding: 10px;
	box-shadow: 0px 2px 4px 0px #666666;
}

.leftmenu
{
	float: left;
	border: 1px solid black;
	margin: 0px 10px 10px 10px;
	padding: 10px;
	width: 140px;
	box-shadow: 0px 2px 4px 0px #666666;
}

.align-left
{
	text-align: left;
}

.align-center
{
	text-align: center;
}

.align-right
{
	text-align: right;
}
