*
{
	font-family: 'Montserrat', sans-serif;
}

body
{
	margin: auto;
	font-size: large;
	max-width: 95%;
}

h1
{
	margin: 0px 0px 10px 0px;
	font-size: xx-large;
	text-decoration: underline;
}


h2
{
	margin: 10px 0px;
	font-size: x-large;
	text-decoration: underline;
}

h3
{
	border: 0px;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	font-size: large;
	text-decoration: underline;
}

h4
{
	margin: 10px 0px;
	font-size: large;
	text-decoration: underline;
}

a
{
	color: #0000BB;
}

a:hover
{
	color: #000000;
}

.align-left
{
	text-align: left;
}

.align-center
{
	text-align: center;
}

.align-right
{
	text-align: right;
}

table.geqtable
{
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
	padding: 10px;
	box-shadow: 0px 2px 4px 0px #666666;
	text-align: center;
	table-layout: fixed;
}

tr.geqtablerow
{
	border: 1px solid black;
}

td.geqtablecell
{
	margin: 0px;
	border: 0px;
	padding: 1px;
	font-size: xx-large;
}

.volume-control
{
	width: 100%;
}

.geqfaderimage
{
	height: 100%;
	width: 100%;
	max-width: 100px;
	min-width: 40px;
}

.geqfaderimagewrapper
{
	position: relative;
	text-align: center;
	color: white;
	padding: 0px;
	text-shadow: 2px 2px 10px gray;
}

.geqfadertextcentertop
{
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.geqfadertextcenterbot
{
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, -50%);
}

button.control-button
{
	font-size: xx-large;
}
