body, button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    margin: 0 10px 0 10px;
    font-size: 40px;
    text-decoration: underline;
}

h2 {
    margin: 0 10px 0 10px;
    font-size: 30px;
}

a {
    color: #0000BB;
}

a:hover {
    color: #000000;
}

button {
    font-size: x-large;
}

.volume-control {
    width: 100%;
    margin: auto;
}

.title {
    padding: 0 0 20px 0;
    margin: auto;
    width: 90%;
}

.controls {
    padding: 50px 0 0 0;
    margin: 0 auto;
    width: 90%;
}

.footer {
    padding: 50px 0 0 0;
    margin: 0 auto;
    width: 90%;
}

.grid {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

.frequency-container {
    margin: 1px;
    border: 2px solid black;
    padding: 40px;
    font-size: xx-large;
}

.frequency-container:nth-child(1n+0) {
    background: #7E8D85;
}

.frequency-container:nth-child(2n+0) {
    background: #29BF89;
}

.frequency-container:nth-child(3n+0) {
    background: #0083BB;
}

.frequency-container:nth-child(5n+0) {
    background: #BDBDBE;
}

.frequency-container:hover {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background: white;
}
